.checkout-page
    margin-top: 80px
    .checkout-page-content
        background: #cdcdcd
        margin: 0px 80px
        padding: 10px 80px
        .checkout-page-title
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            .checkout-page-title-name
            .checkout-page-title-option
        .checkout-page-overviews
            width: 100%
        .checkout-page-checkout
    .footer
        width: 100vw
        max-width: 100%
        text-align: center
        background-color: black