.homepage {
  overflow: auto;
}

.homepage-header {
  position: relative;
  width: 100%;
}

/* .homepage-body {
  position: absolute;
  top: 0;
} */

.homepage-footer {
  max-width: 100%;
  text-align: center;
  background-color: black;
}

.content-category-containter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}