.profile-page
    margin-top: 80px
    .profile-page-person
        display: flex
        flex-direction: row
        justify-content: center
        .photo
            .photo-avatar
                height: 150px
                width: 150px
        .info-box
            background: #cdcdcd
            display: flex
            flex-direction: column
            justify-content: center
            align-content: center
            
            .option
            .name
            .email
            .home-address
            .payment

    .profile-page-mytrip
    .profile-page-recommand
    .profile-page-footer
        width: 100vw
        max-width: 100%
        text-align: center
        background-color: black