.content-cover {
  position: relative;
  top: 0;
  height: 100vh;
  margin-bottom: 80px;
}

.cover-image {
  position: relative;
  height: 100%;
  width: 100vw;
  max-width: 100%;
  object-fit: cover;
}

.start-box {
  width: 22.6vw;
  height: 51vh;
  max-width: 437px;
  max-height: 470px;
  position: absolute;
  top: 18vh;
  margin-left: 8vw;
  padding: 32px;
  padding-bottom: 24px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
}
