.guide-card
    overflow: hidden
    .guide-card-img
        width: 100%
        height: 17vw
        max-width: auto
        object-fit: cover
        border-radius: 5px
    .guide-card-body
        margin-bottom: 0px
        .guide-card-title
            margin-bottom: 3px
        .guide-card-text

.adventure-card
    // height: 27vw
    overflow: hidden
    padding-bottom: 0px
    .adventure-card-img
        width: 100%
        height: 22vw
        object-fit: cover
        border-radius: 5px
    .adventure-card-body
        padding-bottom: 0px
        padding-right: 0px

.city-card
    // height: 25vw
    overflow: hidden
    padding: 0px
    .city-card-img
        width: 100%
        height: 23vw
        object-fit: cover
        border-radius: 10px
    .city-card-body
        font-size: x-small
        padding-top: 0px
        padding-bottom: 0px
        padding-right: 0px
        .city-card-title
            font-size: 14px
            margin-bottom: 2px
        .city-card-text
            font-size: 12px

.trip-card
    position: relative
    width: 100%
    height: 25vw
    &:hover
        cursor: pointer
    .trip-card-img
        width: 100%
        height: 25vw
        max-width: auto
        border-radius: 5px
    .trip-card-shade
        width: 100%
        height: 5vw
        color: #ffffff
        position: absolute
        background: rgba(0,0 ,0 ,.6 )
        top: 80%
        border-radius: 0px 0px 5px 5px
        display: flex
        flex-direction: row
        justify-content: space-between
        .trip-card-days-wrapper
            // padding: 10px
            display: flex
            flex-direction: column
            justify-content: center
            align-content: center
            .trip-card-days
                margin-left: 10px
                font-size: 20px
        .trip-card-title-wrapper
            display: flex
            flex-direction: column
            justify-content: center
            align-content: center
            .trip-card-title-title
                margin: auto
            .trip-card-title-date
                margin: auto
        .trip-card-option
