$airbnb-font: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif
$google-font: Roboto, HelveticaNeue, Arial, sans-serif

.guide-card
    overflow: hidden
    .guide-card-img
        width: 100%
        height: 17vw
        max-width: auto
        object-fit: cover
        border-radius: 5px
    .guide-card-body
        margin-bottom: 0px
        .guide-card-title
            margin-bottom: 3px
        .guide-card-text

.adventure-card
    // height: 27vw
    overflow: hidden
    padding-bottom: 0px
    .adventure-card-img
        width: 100%
        height: 22vw
        object-fit: cover
        border-radius: 5px
    .adventure-card-body
        padding-bottom: 0px
        padding-right: 0px

.city-card
    // height: 25vw
    overflow: hidden
    padding: 0px
    .city-card-img
        width: 100%
        height: 23vw
        object-fit: cover
        border-radius: 10px
    .city-card-body
        font-size: x-small
        padding-top: 0px
        padding-bottom: 0px
        padding-right: 0px
        .city-card-title
            font-size: 14px
            margin-bottom: 2px
        .city-card-text
            font-size: 12px

.trip-card
    position: relative
    width: 100%
    height: 25vw
    .trip-card-img
        width: 100%
        height: 20vw
        max-width: auto
        border-radius: 5px
    .trip-card-option
        width: 100%
        height: 20vw
        position: absolute
        top: 0%
        .trip-card-option-content
            width: 100%
            height: 100%
            background: rgba(0,0 ,0 ,.6 )
            color: white
            display: flex
            flex-direction: row
            justify-content: center
            .edit
                margin: auto
            .delete
                margin: auto
            .share
                margin: auto
    .trip-card-shade
        width: 100%
        height: 5vw
        border-radius: 0px 0px 5px 5px
        display: flex
        flex-direction: row
        justify-content: center
        position: relative
        .trip-card-title-wrapper
            display: flex
            flex-direction: column
            justify-content: center
            align-content: center
            .trip-card-title-title
                margin: auto
            .trip-card-title-date
                margin: auto
        .trip-card-shade-option
            position: absolute
            left: 90%
.activity-card
    position: relative
    width: 100%
    height: auto
    border-radius: 5px
    margin: 5px
    .activity-card-img
        width: 100%
        height: 200px
        object-fit: cover
        padding: 10px
        border-radius: 20px
    .activity-card-body
        .activity-card-body-title
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            margin-left: 10px
            .activity-card-body-title-text
                font-family: $airbnb-font
                margin-bottom: 0px
            .activity-card-body-title-icon
        .activity-card-body-rate
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            margin-left: 10px

        .activity-card-option
            display: flex
            flex-direction: row
            justify-content: center
            margin: 5px
.flight-card
    width: 100%
    border: 8px
    padding: 16px 24px
    .flight-card-body
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        font-family: $google-font
        color: #3c4043
        .flight-card-body-img
            padding-right: 33px
            display: flex
            flex-direction: row
            .flight-card-body-time
                margin-left: 50px
                min-width: 200px
                .time
                    font-weight: bold
                    @extend .main-font
                .flight-company
                    @extend .light-font
        .flight-card-body-space
            width: 150px
        .flight-card-body-duration
            min-width: 80px
            .duration
                @extend .main-font
            .airports
                @extend .light-font
        .flight-card-body-stops
            min-width: 80px
            @extend .main-font
        .flight-card-body-option
            min-width: 100px
            .flight-card-body-price
                @extend .main-font
.main-font
    font-family: $google-font
    font-size: 17px
    color: #3c4043
.light-font
    font-family: $google-font
    font-size: 13px
    color: rgba(0,0 ,0 ,0.56)