.submit-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  top: 0;
  padding-bottom: 550px;
  justify-content: center;
  align-items: center;
  overflow: auto;
  z-index: 100;
}

.addProduct-box {
  position: absolute;
  top: 50px;
  min-width: 200px;
  min-height: 200px;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.addProduct-header {
  color: white;
  width: 100%;
  text-align: center;
  border-radius: 8px 8px 0 0;
  font-weight: bold;
  background-color: #bbbbbb;
  padding: 14px;
}

.addProduct-header span {
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1;
}

.addProduct-content {
  padding: 10px 20px;
}

.addProduct-content li {
  position: relative;
  margin: 25px 20px;
}

.addProduct-content-img {
  height: 40px;
  width: 40px;
  margin-left: 10px;
  font-size: 20px;
  color: #ffffff;
  background-color: rgb(124, 124, 124);
  text-align: center;
  position: absolute;
  top: 0;
  transition: 0.3s;
}

.addProduct-img1 {
  left: 0px;
}

.addProduct-img2 {
  left: 350px;
}

.addProduct-content-fa {
  margin-top: 9px;
}

.addProduct-content input {
  height: 40px;
  width: 300px;
  font-size: 14px;
  border: 1px solid #bbbbbb;
  outline: none;
  margin-left: 50px;
  padding-left: 10px;
  transition: 0.3s;
}
.addProduct-content input:focus {
  border: 2px solid #3c8dbc;
  box-shadow: 0 0 4px 0 #3c8dbc;
}

.addProduct-content input:focus + .addProduct-content-img {
  background-color: #3c8dbc;
  box-shadow: 0 0 4px 0 #3c8dbc;
}

.addProduct-content input:valid {
  border: 2px solid #009879;
}

.addProduct-content input:valid + .addProduct-content-img {
  background-color: #009879;
}

.addProduct-content input::-webkit-outer-spin-button,
.addProduct-content input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Buttons */
.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  color: #666;
  background-color: transparent;
  background-image: none;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}

.close-btn:hover {
  color: #00c0ef;
}

.addProduct-submit-btn,
.addProduct-add-btn {
  height: 40px;
  width: 110px;
  background: #bbbbbb;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: white;
  margin-top: 5px;
  margin-bottom: 10px;
}

.addProduct-submit-btn:hover {
  background: #009879;
}

.addProduct-add-btn:hover {
  background: #3c8dbc;
}

.addProduct-add-btn {
  margin-right: 20px;
}
