.trip-overview-day
    position: relative
    display: flex
    flex-direction: column
    padding-right: 0px
    align-items: center
    // max-width: 100px
    .trip-overview-day-daydisplay
        font-size: 24px
        font-family: "Dancing Script", cursive
        transition: background 200ms,font-size 200ms,margin-top 200ms
        margin-bottom: 5px
        &:hover
            cursor: pointer
            font-size: 30px
            margin-top: -9px
            background: #878787
    .trip-overview-day-dashline
        text-align: center
        .vertical-line
            border-left: 3px dotted grey
            height: 50px
            position: absolute
            left: 50%
    .trip-overview-day-city
        margin-top: 55px
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        .trip-overview-day-city-graph
            display: flex
            flex-direction: row
            justify-content: center
            width: 100%
            margin: 0px
            padding: 0px
            .left-line
                width: 100%
                position: relative
                &::before
                    content: ''
                    position: absolute
                    top: 50%
                    left: 0
                    border-top: 1px solid black
                    background: black
                    width: 100%
                    transform: translateY(-50%)
            .left-line-empty
                width: 100%
            .right-line
                position: relative
                width: 100%
                &::before
                    content: ''
                    position: absolute
                    top: 50%
                    left: 0
                    border-top: 1px solid black
                    background: black
                    width: 100%
                    transform: translateY(-50%)
            .right-line-empty
                width: 100%
            .trip-overview-day-city-graph-circle
        .trip-overview-day-city-text
    .trip-overview-day-routine
        text-align: left
        max-width: 150px
        margin-right: 10px
        margin-left: 10px