@import url('https://fonts.googleapis.com/css?family=Kanit:700')
@import url('https://fonts.googleapis.com/css?family=Stoke')
.title
    font-family: 'Kanit', sans-serif
    text-transform: capitalize
    font-size: 3em
    font-weight: 300
    padding-left: 170px

.input-container
    position: relative
    margin-left: 120px
    margin-top: 10px
    margin-bottom: 40px

input, button
    letter-spacing: 1.5px

input
    box-sizing: border-box
    background: transparent
    width: 70%
    border: none
    border-bottom: 1px solid
    padding: 12px 6px 12px 36px
    font-size: 19px
    outline: none



.button-container
    padding-left: 170px
    padding-bottom: 20px

.submit-button
    margin-bottom: -20px
    font-family: 'Stoke', serif;
    border: none
    border-radius: 30px
    font-size: 20px
    padding: 8px 16px
    cursor: pointer
    transition: all .3s
    margin-bottom: -40px
    box-shadow: 0px 4px 15px -5px rgba(0,0,0,0.65)
    transition: all .3s

.submit-button:hover
    background: lighten(gray, 10%)
    box-shadow: 0px 5px 20px -3px rgba(0,0,0,0.65)


::placeholder
    opacity: .4

#user-icon
    position: absolute
    left: 6px
    top: 45%
    transform: translateY(-50%)

#password-icon
    position: absolute
    left: 6px
    top: 45%
    transform: translateY(-50%)


#email-icon
    position: absolute
    left: 6px
    top: 45%
    transform: translateY(-50%)