.homepage {
  overflow: auto;
}

.homepage-footer {
  max-width: 100%;
  text-align: center;
  background-color: black;
}

.content-category-containter {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
