.homepage {
  overflow: auto;
}

.homepage-footer {
  max-width: 100%;
  text-align: center;
  background-color: black;
}

.homepage-header {
  width: 100%;
  background-color: white;
  height: 250px;
}