.dnd-bar 
  user-select: none
  width: 100%
  height: 44px
  margin-top: -2px
  background: transparent
  display: flex
  overflow: visible
  position: relative
  .dnd-bar-delete 
    width: 40px
    height: 100%
    background: transparent
    text-align: center
    line-height: 44px
    .fa-bars
      color: black
      opacity: 0.3
      display: none
      &:hover
        opacity: 1
      &:active
        opacity: 0.7
  .dnd-bar-item
    user-select: none
    width: 300px
    height: 44px
    background-color: #f9f9f9
    border: 2px solid #dfdfdf
    display: flex
    flex-direction: row
    .dnd-bar-handle 
      width: calc(44px - 2px)
      height: calc(44px - 4px)
      background-color: #dfdfdf
      margin-right: 8px
      text-align: center
      line-height: calc(44px - 4px)
      font-size: 16px
      color: white
    .dnd-bar-content 
      height: 100%
      line-height: calc(44px - 4px)
      color: #485969
      font-weight: 500
      font-size: 16
    .dnd-bar-dateselector
      height: calc(44px - 4px)
      width: 60px
      display: flex
      flex-direction: row
      background-color: black
      align-self: flex-end
      .dnd-bar-dec
        height: 100%
        width: 20px
        background-color: red
      .dnd-bar-day
        height: 100%
        width: 20px
        background-color: wheat
      .dnd-bar-inc
        height: 100%
        width: 20px
        background-color: blue
  .dnd-bar-item-avtive 
    background-color: #dfdfdf
    @extend .dnd-bar-item
  .dnd-bar-calendar
    height: 100px
    width: 100px
    background-color: tomato 
    position: absolute
    top: 0;
    left: 340px
    display: none;
