.locationbox-container {
  position: absolute;
  height: 370px;
  width: 300px;
  top: 20px;
  left: 20px;
  background: transparent;
  display: flex;
  flex-direction: column;
}

.locationbox-manager {
  height: 100%;
  width: 100%;
  margin-top: 10px;
  background: transparent;
  overflow-y: auto;
}
